---
import { Image } from "astro:assets";

export interface Props {
	title: string;
	description: string;
	rounded?: boolean;
	alt?: boolean;
	image?: string;
	shadowSize?: "sm" | "md" | "lg" | "none" |null;
	customClass?: string | Array<{ [key: string]: boolean | string }>;
}

const {
	title,
	description,
	rounded = false,
	alt = false,
	// image = "",
	shadowSize = "sm",
	customClass,
} = Astro.props;

const dynamicWrapper = [
	"border-2",
	"shadow-theme-primary",
	"mx-2",
	"mb-6",
	"p-4",
	"w-full",
	"md:w-1/2",
	"lg:w-1/4",
];
---

<div
	class:list={[
		...dynamicWrapper,
		{
			"rounded": rounded,
			"bg-theme-primary border-theme-primary": !alt,
			"bg-theme-secondary border-theme-secondary": alt,
			"shadow-sm": shadowSize === "sm",
			"shadow-md": shadowSize === "md",
			"shadow-lg": shadowSize === "lg",
			"shadow-none": shadowSize === "none",
		},
		customClass,
	]}
>
	<h2
		class:list={[
			"center",
			"uppercase",
			"font-bold",
			"mb-2",
			{ "text-theme-primary": !alt, "text-theme-secondary": alt },
		]}
	>
		{title}
	</h2>
	<hr
		class:list={[
			"border-1 mb-2",
			{ "border-theme-primary": !alt },
			{ "border-theme-secondary": alt },
		]}
	/>
	<p class:list={[{ "text-theme-primary": !alt, "text-theme-secondary": alt }]}>
		{description}
	</p>
</div>
