---
import type { AstroBuiltinAttributes } from "astro";

export interface Props {
	features: {
		title: string;
		description?: string;
	}[];
	class?: string | AstroBuiltinAttributes["class:list"];
}

const { features, class: className } = Astro.props;
---

<ul class="space-y-4">
	{
		features.map((feature) => (
			<li class="">
				<div class="absolute inset-0 bg-theme-accent opacity-10 scale-x-0 transition-transform duration-300 origin-left" />
				<div class="relative z-1">
					<h3 class="text-xl font-mono font-semibold mb-1 text-theme-accent build-in">
						{feature.title}
					</h3>
					{feature.description && (
						<p class="ml-4 italic text-theme-text/80 fade-in">
							{feature.description}
						</p>
					)}
				</div>
			</li>
		))
	}
</ul>
