---
import ToggleTheme from "@components/Astro/ToggleTheme.astro";
import type { NavEntry } from "../../Types/types";

export interface Props {
	links: NavEntry[];
	themeNames?: string[];
	class?: string | Record<string, boolean | string>;
}

	const { links = [], class: className } = Astro.props;
---

<nav
	aria-label="Main navigation"
	class:list={["flex flex-nowrap mt-2 px-4 xl:px-0", className]}
>
	<ul class="inline-flex flex-wrap mb-2 sm:mb-0 sm:mr-6">
		{
			links.map((obj) => (
				<li class="pr-2 first:pl-0">
					<a href={obj.href} class="px-2 first:pl-0">
							{obj.text}
					</a>
				</li>
			))
		}
	</ul>
	<ToggleTheme class="ml-auto" />
</nav>
