---
import type { AstroBuiltinAttributes } from "astro";

export interface Props {
	text: string;
	showHeadingBackground?: boolean;
	class?: string | AstroBuiltinAttributes["class:list"];
}

const { text, showHeadingBackground = true, class: className } = Astro.props;
---

<div
	class:list={["flex justify-center mt-12 mb-10 md:mt-24 md:mb-12", className]}
>
	<p
		class:list={[
			"h6 text-4xl text-center mx-4 capitalize leading-relaxed",
			{
				"bg-theme-secondary text-theme-secondary leading-none p-4 inline-block":
					showHeadingBackground,
				"w-full": !showHeadingBackground,
			},
			{ "rounded-theme": true },
		]}
	>
		{text}
	</p>
</div>
