---
import type { AstroBuiltinAttributes } from "astro";

export interface Props {
	page: any; // todo: types
	class?: string | AstroBuiltinAttributes["class:list"];
}

const { page, class: className } = Astro.props;
const { currentPage, lastPage, url } = page;
const { next, prev } = url;
---

<nav class:list={["flex justify-start items-center", className]}>
	<a href={prev} class:list={["text-theme-primary p-2", { disabled: !prev }]}>
		{" "}
		← Previous{" "}
	</a>

	<span class="px-2">
		Page {currentPage} of {lastPage}
	</span>

	<a href={next} class:list={["text-theme-primary p-2", { disabled: !next }]}>
		{" "}
		Next →{" "}
	</a>
</nav>
