---
export interface Props {
	tag: string;
	count?: number | string | undefined;
	size?: "sm" | "md" | "lg";
	customClass?: string | Array<{ [key: string]: boolean | string }>;
}

const { tag, count, size = "md", customClass } = Astro.props;

---

<span
	class:list={[
		"h6 bg-secondary border border-theme-secondary text-xs text-white inline-flex justify-center items-center hover:cursor-pointer hover:bg-theme-accent hover:text-theme-secondary hover:border-theme-accent transition-all duration-300",
		customClass,
		{ "py-0.5 px-0.5 mr-1": size === "sm" },
		{ "py-1 px-1 mr-0.5": size === "md" },
		{ "py-2 px-2 m-2": size === "lg" },
	]}
>
	<a
		href={`/tags/${tag}`}
		class:list={[
			"hover:text-theme-secondary hover:cursor-pointer no-underline",
			{ "text-xs": size === "sm" },
			{ "text-sm": size === "md" || size === "lg" },
		]}
	>
		#{tag?.replace(/-/g, " ")}
		{
			count !== undefined && (
				<span class="text-xs font-semibold"> ({count})</span>
			)
		}
	</a>
</span>
