---
import Tag from "@components/Astro/utils/Tag.astro";

export interface TagCloud {
	tags: { name: string; count?: number | string | undefined }[];
}

const { tags = [], customClass } = Astro.props;
---

<div
	class:list={[
		"inline-flex flex-wrap justify-start items-center px-0 mb-0.5 ",
		customClass,
	]}
>
	{tags.map((tag: any) => <Tag tag={tag.name} count={tag.count} size="lg" />)}
</div>
<hr class="my-5 text-theme-accent" />
