---
import Tag from "@components/Astro/utils/Tag.astro";

export interface Props {
	tags: string[];
	class?: string | Record<string, boolean>;
}

const { class: className, tags } = Astro.props;
---

<div class:list={["flex, flex-wrap, mx-0, px-0", className]}>
	{tags.map((tag) => <Tag tag={tag} size="xs" />)}
</div>
