---
import type { AstroBuiltinAttributes } from 'astro';

import { Image } from "astro:assets";

export interface Props {
	title: string;
	showTitleBackground: boolean;
	logoSrc: string | null;
	class?: string | AstroBuiltinAttributes['class:list'];}

const { title, showTitleBackground, logoSrc, class: className } = Astro.props;
---

<div
	class:list={[
		"flex border-b-4",
		{
			"border-theme-secondary": showTitleBackground,
			"border-theme-accent": !showTitleBackground,
		},
	]}
>
	{
		logoSrc && (
			<span class="flex logo-wrapper items-center p-4 bg-theme-accent">
				<span class="flex items-center border-2 border-theme-secondary rounded-full">
					<Image src={logoSrc} alt="Logo" width={64} height={64} class="rounded-full" />
				</span>
			</span>
		)
	}
	<h1
		class:list={[
			"py-2 m-0 w-full",
			{
				"is-title-alt leading-none pl-4 py-5": showTitleBackground,
				"is-title p-0 pl-2": !showTitleBackground,
				"pl-4": logoSrc,
			},
			className,
		]}
	>
		{title}
	</h1>
</div>
