---
export interface Props {
	text: string;
	neonify?: boolean | "true" | "false";
	customClass?: string | Array<{ [key: string]: boolean | string }>;
}

const { text, customClass, neonify = false, } = Astro.props;
---

<span class="relative inline-block group">
	<span
		class:list={[{ neon: neonify }, customClass]}
		data-text={text}
		aria-label={text}
	>
		{text}
	</span>

	<span
		class:list={[
			"absolute z-10 text-sm tracking-wide hidden group-hover:block font-semibold font-mono rounded py-2 px-4 bottom-full left-1/2 transform -translate-x-1/2 mb-1 whitespace-nowrap shadow-sm",
			{
				"bg-theme-primary text-theme-primary text-base border-2 border-theme-accent shadow-theme-accent":
					neonify,
				"bg-[#747474] text-white border-1 border-theme-primary shadow-theme-grey":
					!neonify,
			},
		]}
	>
		{text}
		<span
			class:list={[
				"absolute top-full left-1/2 transform -translate-x-1/2 border-8 border-transparent",
				{
					"border-t-theme-accent": neonify,
					"border-t-[#747474]": !neonify,
				},
			]}></span>
	</span>
</span>
