@import "./themes.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/** General **/

	html {
		@apply antialiased;
		@apply min-h-[100svh] w-full flex flex-col items-center bg-theme-primary text-theme-primary bg-gradient-linear font-sans;
	}

	body {
		@apply min-h-[100svh] w-full max-w-5xl;
	}

	/** Layout **/

	main {
		@apply p-4 my-4 sm:p-6 sm:my-6;
	}

	article {
		@apply p-2 m-2 sm:p-4 sm:m-4;
	}

	/* Remove or adjust these if they're causing issues */
	section {
		@apply p-4 my-4 sm:p-6 sm:my-6;
	}

	div {
		@apply p-2 m-2 sm:p-4;
	}

	section article:first-of-type {
		@apply mt-0;
	}

	section article:last-of-type {
		@apply mb-0;
	}

	/** Typography **/

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		@apply mb-4 mt-8 tracking-widest font-bold font-serif;
	}

	h5,
	h6,
	.h5,
	.h6 {
		@apply font-mono uppercase;
	}

	h1,
	.h1 {
		@apply text-3xl sm:text-4xl md:text-5xl text-theme-accent leading-tight;
	}

	h2,
	.h2 {
		@apply text-2xl sm:text-3xl md:text-4xl text-theme-accent leading-tight;
	}

	h3,
	.h3 {
		@apply text-xl sm:text-2xl md:text-3xl mb-4;
	}

	h4,
	.h4 {
		@apply text-lg sm:text-xl md:text-2xl mb-3;
	}

	h5,
	.h5 {
		@apply text-lg font-light my-1;
	}

	h6,
	.h6 {
		@apply text-sm font-extralight my-1;
	}

	p,
	li,
	a {
		@apply text-base sm:text-lg md:text-xl leading-relaxed;
	}

	a {
		@apply underline underline-offset-2 decoration-2 decoration-theme-primary hover:decoration-theme-secondary hover:text-theme-accent hover:bg-opacity-20 cursor-pointer;
	}

	pre:has(code) {
		@apply font-mono text-sm border border-theme-secondary rounded-lg p-6 my-4 mx-2 leading-relaxed overflow-x-auto whitespace-pre-line transition-colors duration-[1500ms];
	}

	code,
	blockquote {
		word-wrap: break-word;
	}

	pre > code {
		white-space: pre;
	}

	blockquote {
		@apply border-l-4 border-theme-primary pl-4 italic text-theme-primary;
	}

	::selection {
		@apply bg-theme-secondary text-theme-secondary;
	}

	/** scrollbar **/

	html {
		overflow-y: auto;
	}

	/* width */
	::-webkit-scrollbar {
		@apply w-2;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply shadow-theme-primary;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-theme-accent;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-theme-secondary bg-opacity-50 cursor-pointer;
	}

	/* code block scroll */
	pre:has(code)::-webkit-scrollbar {
		@apply w-1 h-1;
	}
}

/** prose **/
@layer components {
	.prose {
		@apply text-theme-primary text-lg font-extralight leading-relaxed md:m-auto max-w-4xl;
	}

	.prose h1 {
		@apply text-4xl text-theme-secondary leading-relaxed md:text-5xl tracking-widest;
	}

	.prose h2 {
		@apply text-4xl text-theme-accent leading-normal tracking-widest mt-8 mb-2;
	}

	.prose h3 {
		@apply text-3xl text-theme-primary tracking-widest mt-14 mb-2;
	}

	.prose h4 {
		@apply text-xl text-theme-primary tracking-widest mt-10 mb-2;
	}

	.prose h5 {
		@apply text-lg text-theme-primary font-light mb-1 font-mono uppercase;
	}

	.prose h6 {
		@apply text-sm text-theme-primary font-extralight mb-1 font-mono uppercase;
	}

	.prose p {
		@apply text-theme-primary text-lg font-extralight leading-relaxed py-1 ml-2 mt-1 mb-6;
	}

	.prose a {
		@apply text-theme-primary underline-offset-2 decoration-2 decoration-theme-primary hover:decoration-theme-secondary hover:text-theme-accent hover:bg-opacity-20 cursor-pointer;
	}

	.prose blockquote {
		@apply border-l-4 border-theme-secondary pl-4 italic text-theme-primary;
	}

	.prose ul,
	.prose ol {
		@apply list-disc list-inside;
	}

	.prose li {
		@apply text-theme-primary text-lg font-extralight leading-relaxed list-none py-1;
	}

	.prose pre {
		@apply font-mono text-sm border border-theme-secondary rounded-md -mt-4 mb-8 py-8 px-6 leading-relaxed overflow-x-auto whitespace-pre-line transition-colors duration-[1500ms] ease-linear;
	}

	.prose code:not(pre code) {
		@apply bg-theme-secondary text-theme-secondary px-1 rounded;
	}

	.prose
		strong:not(
			h1 strong,
			h2 strong,
			h3 strong,
			h4 strong,
			h5 strong,
			h6 strong
		) {
		@apply text-theme-primary font-extralight relative tracking-wider;
	}

	.prose ::selection {
		@apply bg-theme-secondary text-theme-secondary;
	}
}

/** helper classes **/

@layer components {
	.is-title {
		@apply text-5xl font-bold font-serif bg-gradient-radial text-transparent bg-clip-text overflow-clip tracking-tight leading-tight md:text-6xl tracking-widest leading-normal;
	}
	.is-title-alt {
		@apply text-5xl font-bold font-serif bg-theme-secondary text-theme-secondary tracking-tight leading-tight md:text-6xl tracking-widest leading-normal;
	}
	.focused {
		@apply outline-2 outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed;
	}
	.disabled {
		@apply pointer-events-none opacity-50 no-underline;
	}
}
