---
import PageHeading from "@components/Astro/PageHeading.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Link from "@components/Astro/Link.astro";
---

<Layout title="FAQ">
	<PageHeading text="FAQ" />
  	<p class="flex items-center justify-center gap-2">
	<Icon name="ri:questionnaire-line" size="1.5em" class="opacity-80"/>
	Looking for the <Link href="/features/feature-list" text="Feature List?" /></p>
	<section>
		<article>
			<ul>
				<li>What is Alkaline?</li>
				<li>How did I get here?</li>
				<li>How do I work this?</li>
				<li>Where is that large automobile?</li>
				<li>What is that beautiful house?</li>
				<li>Where does that highway go to?</li>
				<li>Am I right? Am I wrong?</li>
				<li>My God! What have I done?</li>
			</ul>
		</article>
	</section>
</Layout>
