---
export interface Props {
	text: string;
	tooltip?: string;
	class?: string | Record<string, boolean | string>;
}

const { text, class: className, tooltip = text } = Astro.props;
---

<span class:list={["neon", className]} data-text={text} title={tooltip}>{text}</span>
