---
export interface Props {
	text: string;
	customClass?: string | Array<{ [key: string]: boolean | string }>;
	tooltip?: string;
}

const { text, customClass, tooltip = text } = Astro.props;
---

<span class:list={["neon", customClass]} data-text={text} title={tooltip}>{text}</span>
