---
import type { AstroBuiltinAttributes } from 'astro';

export interface Props {
	text: string;
	tooltip?: string;
	class?: string | AstroBuiltinAttributes['class:list'];}

const { text, class: className, tooltip = text } = Astro.props;
---

<span class:list={["neon", className]} data-text={text} title={tooltip}>{text}</span>
