---
export interface Props {
  pattern: string;
  patternOpacity?: number;
  patternHighlightClass?: "bg-theme-accent" | "bg-theme-secondary" | "bg-theme-accent" | "bg-theme-accent-alt";
  class?: string | Record<string, boolean | string>;
}

const { pattern, patternOpacity = 0.1, patternHighlightClass = "bg-theme-accent", class: className = "" } = Astro.props;
---
<div class={`absolute inset-0 -z-10 h-full w-full ${className}`} aria-hidden="true">
  <svg
    class:list={["absolute inset-0 h-full w-full", patternHighlightClass]}
    style={`mask-image: radial-gradient(90% 80% at top right, hsla(0,0%,0%,${patternOpacity}), transparent);`}
    aria-hidden="true"
  >
    <defs>
      <pattern
        id="backgroundPattern"
        width="40"
        height="40"
        patternUnits="userSpaceOnUse"
        patternTransform="translate(-1 -1)"
      >
        <path d={pattern} />
      </pattern>
    </defs>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#backgroundPattern)" />
  </svg>
</div>
