---
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/Astro/PageHeader.astro";
import Card from "@components/Astro/Card.astro";

import coverImage from "@assets/alk-cover-2.webp";
---

<Layout>
	<PageHeader
		heading="A Neutral Base For Your Next Creation."
		description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. loorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem	ipsume dor allakdfjadlfjoi aoidfjda"
		image={coverImage}
		imageAlt="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
		backgroundPattern="M0 0h10v10h10v-10h10v10h10v10h-10v10h-10v-10h-10v-10zM30 0h10v10h-10v-10zM0 20h10v10h-10v-10zM20 20h10v10h-10v-10zM0 40h10v10h-10v-10zM40 40h10v10h-10v-10z"
		patternOpacity={0.2}
		patternHighlightClass="bg-theme-accent"
	/>
	<section
		class="flex flex-no-wrap flex-col gap-6 justify-center mx-0 md:flex-row lg:flex-wrap lg:justify-between opacity-0 transform scale-90 build-in"
	>
		<Card
			title="Feature."
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
			alt
			shadowSize="md"
		/>
		<Card
			title="Feature."
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
			shadowSize="md"
		/>
		<Card
			title="Feature."
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
			shadowSize="md"
			alt
		/>
	</section>
</Layout>

<style>
	.build-in {
		animation-delay: .85s;
	}
</style>
