---
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/Astro/PageHeader.astro";
import Card from "@components/Astro/Card.astro";
---

<Layout>
	<PageHeader
		heading="A Neutral Base For Your Next Creation."
		description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. loorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem	ipsume dor allakdfjadlfjoi aoidfjda"
		image="https://picsum.photos/1000/1000"
		imageAlt="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
		backgroundPattern="M0 0h10v10h10v-10h10v10h10v10h-10v10h-10v-10h-10v-10zM30 0h10v10h-10v-10zM0 20h10v10h-10v-10zM20 20h10v10h-10v-10zM0 40h10v10h-10v-10zM40 40h10v10h-10v-10z"
		patternOpacity={0.1}
		patternHighlightClass="bg-theme-secondary"
	/>
	<section class="flex flex-no-wrap flex-col gap-1 justify-center md:flex-row lg:flex-wrap lg:justify-evenly">
	<Card
		title="Feature."
		description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
		alt
		shadowSize="md"
	/>
	<Card
		title="Feature."
		description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
		shadowSize="md"
	/>
	<Card
		title="Feature."
		description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
		shadowSize="md"
		alt
	/>

</section>
</Layout>
