---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Astro/Card.astro";

---

<Layout>
	<section>
		<div>
			<h2>Themes</h2>
		</div>
		<div>
			<article>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p> lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
				<p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
			</article>
		</div>
	</section>
	<section class="flex flex-row justify-center gap-4">
		<Card
			title="Vans"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
			image="/images/vans.jpg"
			rounded={true}
			alt={true}
		/>
		<Card
			title="Vans"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
			image="/images/vans.jpg"
		/>
		<Card
			title="Vans"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
			image="/images/vans.jpg"
		/>
	</section>
	<section>
		<div>
			<h2>Themes</h2>
		</div>
		<div>
			<article>
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
			</article>
		</div>
	</section>
</Layout>
