---
import Layout from "@layouts/Layout.astro";
import CodeCopy from "@components/Astro/CodeCopy.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="_Typography">
	<section>
		<article>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<br />
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<br />
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		</article>
	</section>
	<section>

	</section>
	<section>
		<h2>Paragraphs</h2>
		<article>
			<h3>Very Cool Paragraph</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec
				purus lacinia tincidunt nec
			</p>
			<p>
				ut urna nec purus lacinia tincidunt nec lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt nec
			</p>
		</article>
	</section>
	<section>
		<h2>Lists</h2>
		<article>
			<h3>Unordered List</h3>
			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
			<div></div>
			<h3>Ordered List</h3>
			<ol>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ol>
		</article>
	</section>
	<section>
		<h2>Blockquotes</h2>
		<article>
			<blockquote>
				<p>
					lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna
					nec purus lacinia tincidunt nec
				</p>
			</blockquote>
		</article>
	</section>
	<section>
		<h2>Code</h2>
		<article>
			<p>
				lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec
				purus lacinia tincidunt nec
			</p>
		</article>
		<CodeCopy lang="javascript" code={`const greeting = "Hello, World!";`} />
	</section>
	<section>
		<h2>Links</h2>
		<article>
			<div class="flex mx-0 px-0">
				<a class="pr-1" href="https://google.com">External Link</a>
				<Icon name="ph:link" size="18" class="inline" />
			</div>
			<a href="/">Internal Link</a>
		</article>
	</section>

</Layout>
